.my-img {
  /* use defaults */
}

@media (min-width: 700px) {
  .my-img {
    float: right;
    margin: 10px 0px 10px 10px;
    width: 50%;
  }
}

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
