<!--  Using this theme: https://www.materialpalette.com/cyan/teal -->

<div materialize class="container">

  <h3> Oi! Eu sou o Pedro! </h3>

  <div class="row">
    <div class="col s12 m5 portrait-container">
      <img class="responsive-img" src="assets/blanc.jpg">
    </div>
    <div class="col s12 m5">
      <p class="flow-text" style="text-align:justify">
      Sou um desenvolvedor, maker e estudante de engenharia elétrica na UFMG.
      Meus principais interesses incluem Desenvolvimento Web, Ciência dos Dados e
      Internet das Coisas.
      </p>
    </div>
  </div>

  <span class="flow-text" style="text-align:justify"><p>
  <!-- <p>
  Minhas experiências ao longo da graduação me permitiram contato com
  programação tanto em alto nível quanto em sistemas embarcados. Apesar de
  atualmente estar voltado para o desenvolvimento de software, tive também a
  oportunidade de projetar e construir vários circuitos eletrônicos.
  </p> <p>
  Tenho uma atitude proativa e "mão-na-massa". Atualmente estou construindo uma
  impressora 3D e um robô seguidor de linha.
  </p> <p>
  Estou em busca de um estágio! <a href="#">Entre em contato</a> e vamos construir uma coisa incrível juntos!
  </p> -->

  </span>

<sec-header>Projetos</sec-header>

<ul materialize="collapsible" class="collapsible accordeon">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      Searchy Startup
    </div>
    <div class="collapsible-body">
    <project>
      <div body>
        Desenvolvimento de um site MVP para a Searchy, startup que busca
        facilitar a escolha de computadores e celulares.
      </div>

      <div ul>
        <li>Aprendizado sobre empreendedorismo.</li>
        <li>Desenvolvimento de uma API REST com Node.js</li>
        <li>Criação de um banco de dados MongoDB com hospedagem do mesmo na Heroku.</li>
        <li>Criação de um pequeno front-end em Angular 4 para visualizar e
          alterar os modelos de Notebook cadastrados no banco de dados.
        </li>
        <li>Uso de Google Analytics para avaliar a experiência de usuário no site.</li>
      </div>

      <div image> <img class="responsive-img" src="assets/searchy.png"> </div>
    </project>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      ProVANT
    </div>
    <div class="collapsible-body">
    <project>
      <div body>
        Projeto do MACRO@UFMG para o desenvolvimento de um Veículo Aéreo Não
        Tripulado (VANT) do tipo Tilt Rotor, tarefa desafiadora do ponto de
        vista da área de controle. Como bolsista de Iniciação Científica,
        trabalhei nos sistemas embarcados e na telemetria do VANT.
      </div>

      <div ul>
        <li>Melhoria e expansão de uma interface gráfica de telemetria desenvolvida com PyQt.</li>
        <li>Escolha e implementação de novo protocolo (MAVLink) para
          comunicação entre estação de telemetria e VANT.
        </li>
        <li>Desenvolvimento de programas de teste em um sistema embarcado
          da família STM32 usando um sistema operacional de tempo real.
        </li>
        <li>Implementação e caracterização de um link de comunicação serial
          entre o sistema embarcado e uma Raspberry Pi.
        </li>
      </div>

      <div image> <img class="responsive-img" src="assets/VANT.png"> </div>
    </project>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      Equipe Autobotz
    </div>
    <div class="collapsible-body">
    <project>
      <div header> Equipe Autobotz </div>
      <div body>
        Participando da equipe de robótica da UFMG, Autobotz,
        desenvolvemos um barco robótico para a Competição Brasileira
        de Robótica (CBR) cujo desafio consistia no transporte de
        blocos de plástico de um lado a outro de uma piscina. Meu
        trabalho se concentrou nas áreas de visão computacional e eletrônica.
      </div>

      <div ul>
        <li>Desenvolvimento de aplicação em C++ para a visão computacional.</li>
        <li>Uso de algoritmos básicos do OpenCV para a detecção dos
          blocos que o robô deveria carregar.</li>
        <li>Criação de uma camada de abstração para que programas rodando
            em um notebook pudessem usar os sensores e motores sem ter
            conhecimento sobre especificidades dos microcontroladores.</li>
        <li>Projeto e confecção de circuito impresso para o acionamento de motores.</li>
      </div>

      <div image> <img src="assets/barco.png"> </div>
    </project>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      eletromagnetismo Computacional
    </div>
    <div class="collapsible-body">
    <project>
      <div body>
        Iniciação Científica na área de métodos computacionais para eletromagnetismo.
      </div>

      <div ul>
        <li>Desenvolvimento de uma biblioteca em MATLAB para comunicação
        com um software de simulação de problemas de eletromagnetismo (HFSS).</li>
        <li>Modificação de uma implementação do GFEM em MATLAB para
        acomodar novos parâmetros sendo investigados pela equipe.</li>
      </div>
      <div image> <img class="responsive-img" src="assets/LEA.png"> </div>
    </project>
    </div>
  </li>
</ul>

<sec-header>Tecnologias</sec-header>
  <div class="row">
    <div class="col s6 m4"> <smallbox>Js / CSS / HTML</smallbox> </div>
    <div class="col s6 m4"> <smallbox>Angular 4</smallbox> </div>
    <div class="col s6 m4"> <smallbox>Node.js</smallbox> </div>
    <div class="col s6 m4"> <smallbox>MongoDB</smallbox> </div>
    <div class="col s6 m4"> <smallbox>C / C++</smallbox> </div>
    <div class="col s6 m4"> <smallbox>Python + Qt4</smallbox> </div>
    <div class="col s6 m4"> <smallbox>Microcontroladores</smallbox> </div>
    <div class="col s6 m4"> <smallbox>Projeto de Circuitos</smallbox> </div>
    <!-- <div class="col s6 m4"> <smallbox>Layout de PCB</smallbox> </div> -->
    <div class="col s6 m4"> <smallbox>MATLAB</smallbox> </div>
  </div>


<sec-header>Informação Pessoal</sec-header>

<table class="highlight">
  <tbody>
    <tr>
      <td>Nome</td> <td>Pedro Blanc Árabe</td>
    </tr>
    <tr>
      <td>Idade</td> <td>24 anos</td>
    </tr>
    <tr>
      <td>Contato</td>
      <td> <ul>
        <li> <a href="https://github.com/pedroblanc">
          <img src="/assets/github.png" height="50px" alt="GitHub">
        </a> </li>
        <li> <a href="https://www.linkedin.com/in/pedro-blanc-arabe-6a2875169/">
          <img src="/assets/linkedin.svg" height="50px" alt="LinkedIn"></a></li>
      </ul></td>
    </tr>
    <tr>
      <td>Educação</td>
      <td> <ul>
        <li>2015 - atual Engenharia Elétrica, UFMG</li>
        <li>2012 - 2014 Ciência da Computação, UFMG</li>
        <li>2009 - 2012 Técnico em Eletrônica no Colégio Técnico da UFMG (COLTEC)</li>
      </ul></td>
    </tr>
    <tr>
      <td>Linguas</td>
      <td>
        <ul class="lang-list">
        <li><span class="flag-br">Português</span><span>Nativo</span></li>
        <li><span class="flag-gb">Inglês</span>Avançado</li>
        <li><span class="flag-no">Norueguês</span>Intermediário</li>
      </ul></td>
    </tr>
  </tbody>
  <!-- <countryflag country="en">English</countryflag> -->
</table>


</div>  <!-- container -->

<footer class="page-footer cyan flow-text">
  <span>Lorem Ipsum</span>
  <div style="float:right;"><a href="https://github.com/pedroblanc/ng-portfolio">Github Link</a></div>
</footer>
