@media (min-width: 600px) {
  /* on medium-large screens */
  .portrait-container {
    float: right;
    margin: 10px 0px 10px 50px;
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .portrait-container {
    width: 30%;
  }
}

.portrait-container img {
  height: 100%;
  width: 100%;

  /* max-width: 300px;
  max-height: 300px; */
}

td:first-child {
  background-color: light-green;
}

.lang-list li span{
  width: 8em;
  display: inline-flex;
  align-items: center;
}

.flag-no::before{
  content: ' ';
  display: inline-block;
  background-image: url('/assets/no.svg');
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0px 0.3em 0px 0px;
  height: 1.2em;
  width:  1.6em;
}

.flag-br::before{
  content: ' ';
  display: inline-block;
  background-image: url('/assets/br.svg');
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0px 0.3em 0px 0px;
  height: 1.2em;
  width:  1.6em;
}

.flag-gb::before{
  content: ' ';
  display: inline-block;
  background-image: url('/assets/gb.svg');
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0px 0.3em 0px 0px;
  height: 1.2em;
  width:  1.6em;
}
